@import "tailwindcss";

@theme {
  --color-dark-moss-green: #404b0c;
  --color-dark-moss-green-100: #0d0f02;
  --color-dark-moss-green-200: #1a1e05;
  --color-dark-moss-green-300: #262d07;
  --color-dark-moss-green-400: #333c0a;
  --color-dark-moss-green-500: #404b0c;
  --color-dark-moss-green-600: #7f9318;
  --color-dark-moss-green-700: #bddb25;
  --color-dark-moss-green-800: #d3e76d;
  --color-dark-moss-green-900: #e9f3b6;

  --color-sage: #b6b68d;
  --color-sage-100: #272719;
  --color-sage-200: #4e4e32;
  --color-sage-300: #76764b;
  --color-sage-400: #9c9c65;
  --color-sage-500: #b6b68d;
  --color-sage-600: #c4c4a3;
  --color-sage-700: #d3d3ba;
  --color-sage-800: #e2e2d1;
  --color-sage-900: #f0f0e8;

  --color-seasalt: #fafafa;
  --color-seasalt-100: #323232;
  --color-seasalt-200: #646464;
  --color-seasalt-300: #969696;
  --color-seasalt-400: #c8c8c8;
  --color-seasalt-500: #fafafa;
  --color-seasalt-600: #fbfbfb;
  --color-seasalt-700: #fcfcfc;
  --color-seasalt-800: #fdfdfd;
  --color-seasalt-900: #fefefe;

  --color-eerie-black: #262626;
  --color-eerie-black-100: #080808;
  --color-eerie-black-200: #0f0f0f;
  --color-eerie-black-300: #171717;
  --color-eerie-black-400: #1f1f1f;
  --color-eerie-black-500: #262626;
  --color-eerie-black-600: #525252;
  --color-eerie-black-700: #7d7d7d;
  --color-eerie-black-800: #a8a8a8;
  --color-eerie-black-900: #d4d4d4;

  --color-cordovan: #93413f;
  --color-cordovan-100: #1d0d0d;
  --color-cordovan-200: #3b1a19;
  --color-cordovan-300: #582626;
  --color-cordovan-400: #753332;
  --color-cordovan-500: #93413f;
  --color-cordovan-600: #b75856;
  --color-cordovan-700: #c98281;
  --color-cordovan-800: #dbacab;
  --color-cordovan-900: #edd5d5;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f1dfd1;
}
h1,
h2,
h3 {
  color: #2f2721;
}
p {
  margin: 0 0 1em;
}
a {
  color: #4b74f0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
